.DS_Store

build
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

GoogleService-Info.plist
GoogleService-Info-Dev.plist
GoogleService-Info-Prod.plist
FirebaseConfig/Dev/GoogleService-Info.plist
FirebaseConfig/Prod/GoogleService-Info.plist

Configuration.swift